In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/aoml-m-2-test-feb-2025/sample_submission.csv
/kaggle/input/aoml-m-2-test-feb-2025/train.csv
/kaggle/input/aoml-m-2-test-feb-2025/test.csv

In [ ]:
df = pd.read_csv("train.csv")
df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature,output_electricity_generation
0,0,Saturday,7.0,NaN,387.374315,2681.205431,0.678352,25.050893,2775.784134,26.465138,2682.758692,1289.082351,601.850322,974.182544
1,1,Saturday,12.0,28.0,238.153011,1604.213100,0.679706,15.241147,2903.619864,NaN,1602.318002,1144.454102,603.933579,593.915516
2,2,Friday,15.0,13.0,338.270228,2398.561685,0.662971,23.078376,2796.443584,24.316160,NaN,1258.098883,602.443281,884.033450
3,3,Saturday,14.0,NaN,254.294492,1620.034059,0.679977,15.054982,2818.023511,15.895513,1619.387667,1142.463833,588.938717,584.908719
4,4,Saturday,18.0,16.0,203.189410,1485.672389,0.686342,12.963420,2816.144355,13.682371,1487.685052,1099.539481,504.208816,483.609973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,50395,Saturday,3.0,53.0,358.326096,2466.188446,0.679246,23.079785,2795.566204,24.382871,2463.927286,1263.867952,NaN,907.096390
50396,50396,Saturday,18.0,6.0,205.657731,1520.898592,0.683778,13.324238,2833.890795,14.059122,NaN,1107.134960,506.487329,497.459473
50397,50397,Friday,NaN,4.0,356.572958,2432.402583,0.678961,22.805262,2784.953650,24.089748,NaN,1258.890934,NaN,892.699691
50398,50398,Friday,17.0,23.0,344.533133,2447.181803,0.661900,23.493103,2803.209426,NaN,2445.952298,1264.949843,603.189838,897.466022
50399,50399,NaN,5.0,1.0,359.814006,2463.708553,0.679096,23.099619,2800.359839,24.402636,2465.297307,1264.537444,605.733212,907.955588

In [ ]:
df.isna().sum()

uid                                 0
day                              5479
hour                             5613
minute                           5470
C_motion                         5517
feed_water_motion                5597
faucet_hole                      5566
vapour_pressure                  5479
vapour_enthalpy                  5437
vapour_pressure_at_division      5477
vapour_motion                    5477
feed_water_enth                  5496
vapour_temperature               5517
output_electricity_generation       0
dtype: int64

In [ ]:
df['day'].value_counts()

day
Saturday    23612
Friday      21309
Name: count, dtype: int64

In [ ]:
df['day']=df['day'].fillna('Saturday')

In [ ]:
df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature,output_electricity_generation
0,0,Saturday,7.0,NaN,387.374315,2681.205431,0.678352,25.050893,2775.784134,26.465138,2682.758692,1289.082351,601.850322,974.182544
1,1,Saturday,12.0,28.0,238.153011,1604.213100,0.679706,15.241147,2903.619864,NaN,1602.318002,1144.454102,603.933579,593.915516
2,2,Friday,15.0,13.0,338.270228,2398.561685,0.662971,23.078376,2796.443584,24.316160,NaN,1258.098883,602.443281,884.033450
3,3,Saturday,14.0,NaN,254.294492,1620.034059,0.679977,15.054982,2818.023511,15.895513,1619.387667,1142.463833,588.938717,584.908719
4,4,Saturday,18.0,16.0,203.189410,1485.672389,0.686342,12.963420,2816.144355,13.682371,1487.685052,1099.539481,504.208816,483.609973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,50395,Saturday,3.0,53.0,358.326096,2466.188446,0.679246,23.079785,2795.566204,24.382871,2463.927286,1263.867952,NaN,907.096390
50396,50396,Saturday,18.0,6.0,205.657731,1520.898592,0.683778,13.324238,2833.890795,14.059122,NaN,1107.134960,506.487329,497.459473
50397,50397,Friday,NaN,4.0,356.572958,2432.402583,0.678961,22.805262,2784.953650,24.089748,NaN,1258.890934,NaN,892.699691
50398,50398,Friday,17.0,23.0,344.533133,2447.181803,0.661900,23.493103,2803.209426,NaN,2445.952298,1264.949843,603.189838,897.466022
50399,50399,Saturday,5.0,1.0,359.814006,2463.708553,0.679096,23.099619,2800.359839,24.402636,2465.297307,1264.537444,605.733212,907.955588

In [ ]:
cols_to_fill = ["hour", "minute"]
for col in cols_to_fill:
    df[col] = df.groupby("day")[col].transform(lambda g: g.fillna(g.mode().iloc[0] if not g.mode().empty else g))



df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature,output_electricity_generation
0,0,Saturday,7.0,4.0,387.374315,2681.205431,0.678352,25.050893,2775.784134,26.465138,2682.758692,1289.082351,601.850322,974.182544
1,1,Saturday,12.0,28.0,238.153011,1604.213100,0.679706,15.241147,2903.619864,NaN,1602.318002,1144.454102,603.933579,593.915516
2,2,Friday,15.0,13.0,338.270228,2398.561685,0.662971,23.078376,2796.443584,24.316160,NaN,1258.098883,602.443281,884.033450
3,3,Saturday,14.0,4.0,254.294492,1620.034059,0.679977,15.054982,2818.023511,15.895513,1619.387667,1142.463833,588.938717,584.908719
4,4,Saturday,18.0,16.0,203.189410,1485.672389,0.686342,12.963420,2816.144355,13.682371,1487.685052,1099.539481,504.208816,483.609973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,50395,Saturday,3.0,53.0,358.326096,2466.188446,0.679246,23.079785,2795.566204,24.382871,2463.927286,1263.867952,NaN,907.096390
50396,50396,Saturday,18.0,6.0,205.657731,1520.898592,0.683778,13.324238,2833.890795,14.059122,NaN,1107.134960,506.487329,497.459473
50397,50397,Friday,22.0,4.0,356.572958,2432.402583,0.678961,22.805262,2784.953650,24.089748,NaN,1258.890934,NaN,892.699691
50398,50398,Friday,17.0,23.0,344.533133,2447.181803,0.661900,23.493103,2803.209426,NaN,2445.952298,1264.949843,603.189838,897.466022
50399,50399,Saturday,5.0,1.0,359.814006,2463.708553,0.679096,23.099619,2800.359839,24.402636,2465.297307,1264.537444,605.733212,907.955588

In [ ]:
df.fillna(df.groupby('day').transform('median'), inplace=True)
df

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature,output_electricity_generation
0,0,Saturday,7.0,4.0,387.374315,2681.205431,0.678352,25.050893,2775.784134,26.465138,2682.758692,1289.082351,601.850322,974.182544
1,1,Saturday,12.0,28.0,238.153011,1604.213100,0.679706,15.241147,2903.619864,24.238060,1602.318002,1144.454102,603.933579,593.915516
2,2,Friday,15.0,13.0,338.270228,2398.561685,0.662971,23.078376,2796.443584,24.316160,2517.097103,1258.098883,602.443281,884.033450
3,3,Saturday,14.0,4.0,254.294492,1620.034059,0.679977,15.054982,2818.023511,15.895513,1619.387667,1142.463833,588.938717,584.908719
4,4,Saturday,18.0,16.0,203.189410,1485.672389,0.686342,12.963420,2816.144355,13.682371,1487.685052,1099.539481,504.208816,483.609973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,50395,Saturday,3.0,53.0,358.326096,2466.188446,0.679246,23.079785,2795.566204,24.382871,2463.927286,1263.867952,603.238935,907.096390
50396,50396,Saturday,18.0,6.0,205.657731,1520.898592,0.683778,13.324238,2833.890795,14.059122,2431.357518,1107.134960,506.487329,497.459473
50397,50397,Friday,22.0,4.0,356.572958,2432.402583,0.678961,22.805262,2784.953650,24.089748,2517.097103,1258.890934,604.738170,892.699691
50398,50398,Friday,17.0,23.0,344.533133,2447.181803,0.661900,23.493103,2803.209426,25.099350,2445.952298,1264.949843,603.189838,897.466022
50399,50399,Saturday,5.0,1.0,359.814006,2463.708553,0.679096,23.099619,2800.359839,24.402636,2465.297307,1264.537444,605.733212,907.955588

In [ ]:
df.isna().sum

<bound method DataFrame.sum of          uid    day   hour  minute  C_motion  feed_water_motion  faucet_hole  \
0      False  False  False   False     False              False        False
1      False  False  False   False     False              False        False
2      False  False  False   False     False              False        False
3      False  False  False   False     False              False        False
4      False  False  False   False     False              False        False
...      ...    ...    ...     ...       ...                ...          ...
50395  False  False  False   False     False              False        False
50396  False  False  False   False     False              False        False
50397  False  False  False   False     False              False        False
50398  False  False  False   False     False              False        False
50399  False  False  False   False     False              False        False

       vapour_pressure  vapour_enthalpy  vapour_pressure_at_division  \
0                False            False                        False
1                False            False                        False
2                False            False                        False
3                False            False                        False
4                False            False                        False
...                ...              ...                          ...
50395            False            False                        False
50396            False            False                        False
50397            False            False                        False
50398            False            False                        False
50399            False            False                        False

       vapour_motion  feed_water_enth  vapour_temperature  \
0              False            False               False
1              False            False               False
2              False            False               False
3              False            False               False
4              False            False               False
...              ...              ...                 ...
50395          False            False               False
50396          False            False               False
50397          False            False               False
50398          False            False               False
50399          False            False               False

       output_electricity_generation
0                              False
1                              False
2                              False
3                              False
4                              False
...                              ...
50395                          False
50396                          False
50397                          False
50398                          False
50399                          False

[50400 rows x 14 columns]>

In [ ]:
X = df.drop('output_electricity_generation', axis=1)
y = df['output_electricity_generation']
y

0        974.182544
1        593.915516
2        884.033450
3        584.908719
4        483.609973
            ...
50395    907.096390
50396    497.459473
50397    892.699691
50398    897.466022
50399    907.955588
Name: output_electricity_generation, Length: 50400, dtype: float64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['day'] = le.fit_transform(X['day'])
X

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature
0,0,1,7.0,4.0,387.374315,2681.205431,0.678352,25.050893,2775.784134,26.465138,2682.758692,1289.082351,601.850322
1,1,1,12.0,28.0,238.153011,1604.213100,0.679706,15.241147,2903.619864,24.238060,1602.318002,1144.454102,603.933579
2,2,0,15.0,13.0,338.270228,2398.561685,0.662971,23.078376,2796.443584,24.316160,2517.097103,1258.098883,602.443281
3,3,1,14.0,4.0,254.294492,1620.034059,0.679977,15.054982,2818.023511,15.895513,1619.387667,1142.463833,588.938717
4,4,1,18.0,16.0,203.189410,1485.672389,0.686342,12.963420,2816.144355,13.682371,1487.685052,1099.539481,504.208816
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50395,50395,1,3.0,53.0,358.326096,2466.188446,0.679246,23.079785,2795.566204,24.382871,2463.927286,1263.867952,603.238935
50396,50396,1,18.0,6.0,205.657731,1520.898592,0.683778,13.324238,2833.890795,14.059122,2431.357518,1107.134960,506.487329
50397,50397,0,22.0,4.0,356.572958,2432.402583,0.678961,22.805262,2784.953650,24.089748,2517.097103,1258.890934,604.738170
50398,50398,0,17.0,23.0,344.533133,2447.181803,0.661900,23.493103,2803.209426,25.099350,2445.952298,1264.949843,603.189838
50399,50399,1,5.0,1.0,359.814006,2463.708553,0.679096,23.099619,2800.359839,24.402636,2465.297307,1264.537444,605.733212

In [ ]:
from sklearn.preprocessing import StandardScaler
col = ['C_motion', 'feed_water_motion', 'faucet_hole', 'vapour_pressure','vapour_enthalpy', 'vapour_pressure_at_division','vapour_motion', 'feed_water_enth','vapour_temperature']
scaler = StandardScaler()
X[col] = scaler.fit_transform(X[col])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [ ]:
y_pred = rf.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Root Mean Squared Error: {rmse:.4f}")

Root Mean Squared Error: 2.7221

In [ ]:
test_df = pd.read_csv("/kaggle/input/aoml-m-2-test-feb-2025/test.csv")
test_df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature
0,0,Friday,23.0,9.0,362.889183,2538.476156,0.678994,23.691700,2756.917646,25.027375,2536.898622,1273.011364,NaN
1,1,Friday,11.0,37.0,360.137575,2612.432523,0.666045,NaN,2783.082086,26.221884,2610.644658,1283.705519,601.759841
2,2,Friday,18.0,34.0,358.571643,2519.399650,0.674544,23.735582,2786.990749,25.051226,2519.766762,NaN,603.899236
3,3,NaN,12.0,26.0,NaN,2433.170459,NaN,23.443632,2821.222288,24.677265,2432.567588,1261.064125,603.034283
4,4,Friday,20.0,40.0,NaN,NaN,0.679031,23.308474,2796.995037,24.617265,2485.478112,1268.990134,605.222529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21595,21595,Friday,21.0,22.0,350.547735,NaN,0.677179,NaN,2792.440155,24.436078,2451.605650,1267.202949,603.417754
21596,21596,Friday,14.0,58.0,349.244673,2398.258155,0.678886,22.531962,2791.812055,23.801528,2400.723520,1256.612046,605.503277
21597,21597,Friday,23.0,5.0,357.152573,2525.896278,0.676416,23.761867,2766.226004,25.088997,NaN,1273.398714,604.848670
21598,21598,Saturday,0.0,53.0,359.203691,2490.426378,0.655879,24.169350,2754.626858,25.411994,2489.651716,1272.959188,605.145455
21599,21599,Saturday,16.0,NaN,211.457059,1466.796683,0.684214,13.194879,2820.096361,13.927607,1466.172838,1103.514033,542.654466

In [ ]:
test_df['day'].value_counts()

day
Saturday    10025
Friday       9217
Name: count, dtype: int64

In [ ]:
test_df['day']=test_df['day'].fillna('Saturday')

In [ ]:
cols_to_fill = ["hour", "minute"]
for col in cols_to_fill:
    test_df[col] = test_df.groupby("day")[col].transform(lambda g: g.fillna(g.mode().iloc[0] if not g.mode().empty else g))



test_df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature
0,0,Friday,23.0,9.0,362.889183,2538.476156,0.678994,23.691700,2756.917646,25.027375,2536.898622,1273.011364,NaN
1,1,Friday,11.0,37.0,360.137575,2612.432523,0.666045,NaN,2783.082086,26.221884,2610.644658,1283.705519,601.759841
2,2,Friday,18.0,34.0,358.571643,2519.399650,0.674544,23.735582,2786.990749,25.051226,2519.766762,NaN,603.899236
3,3,Saturday,12.0,26.0,NaN,2433.170459,NaN,23.443632,2821.222288,24.677265,2432.567588,1261.064125,603.034283
4,4,Friday,20.0,40.0,NaN,NaN,0.679031,23.308474,2796.995037,24.617265,2485.478112,1268.990134,605.222529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21595,21595,Friday,21.0,22.0,350.547735,NaN,0.677179,NaN,2792.440155,24.436078,2451.605650,1267.202949,603.417754
21596,21596,Friday,14.0,58.0,349.244673,2398.258155,0.678886,22.531962,2791.812055,23.801528,2400.723520,1256.612046,605.503277
21597,21597,Friday,23.0,5.0,357.152573,2525.896278,0.676416,23.761867,2766.226004,25.088997,NaN,1273.398714,604.848670
21598,21598,Saturday,0.0,53.0,359.203691,2490.426378,0.655879,24.169350,2754.626858,25.411994,2489.651716,1272.959188,605.145455
21599,21599,Saturday,16.0,38.0,211.457059,1466.796683,0.684214,13.194879,2820.096361,13.927607,1466.172838,1103.514033,542.654466

In [ ]:
test_df.fillna(test_df.groupby('day').transform('median'), inplace=True)
test_df

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature
0,0,Friday,23.0,9.0,362.889183,2538.476156,0.678994,23.691700,2756.917646,25.027375,2536.898622,1273.011364,604.770127
1,1,Friday,11.0,37.0,360.137575,2612.432523,0.666045,23.809911,2783.082086,26.221884,2610.644658,1283.705519,601.759841
2,2,Friday,18.0,34.0,358.571643,2519.399650,0.674544,23.735582,2786.990749,25.051226,2519.766762,1272.412866,603.899236
3,3,Saturday,12.0,26.0,344.728633,2433.170459,0.676095,23.443632,2821.222288,24.677265,2432.567588,1261.064125,603.034283
4,4,Friday,20.0,40.0,357.789518,2517.216955,0.679031,23.308474,2796.995037,24.617265,2485.478112,1268.990134,605.222529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21595,21595,Friday,21.0,22.0,350.547735,2517.216955,0.677179,23.809911,2792.440155,24.436078,2451.605650,1267.202949,603.417754
21596,21596,Friday,14.0,58.0,349.244673,2398.258155,0.678886,22.531962,2791.812055,23.801528,2400.723520,1256.612046,605.503277
21597,21597,Friday,23.0,5.0,357.152573,2525.896278,0.676416,23.761867,2766.226004,25.088997,2517.015477,1273.398714,604.848670
21598,21598,Saturday,0.0,53.0,359.203691,2490.426378,0.655879,24.169350,2754.626858,25.411994,2489.651716,1272.959188,605.145455
21599,21599,Saturday,16.0,38.0,211.457059,1466.796683,0.684214,13.194879,2820.096361,13.927607,1466.172838,1103.514033,542.654466

In [ ]:
test_df.isna().sum()

uid                            0
day                            0
hour                           0
minute                         0
C_motion                       0
feed_water_motion              0
faucet_hole                    0
vapour_pressure                0
vapour_enthalpy                0
vapour_pressure_at_division    0
vapour_motion                  0
feed_water_enth                0
vapour_temperature             0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
test_df['day'] = le.fit_transform(test_df['day'])
test_df

,uid,day,hour,minute,C_motion,feed_water_motion,faucet_hole,vapour_pressure,vapour_enthalpy,vapour_pressure_at_division,vapour_motion,feed_water_enth,vapour_temperature
0,0,0,23.0,9.0,362.889183,2538.476156,0.678994,23.691700,2756.917646,25.027375,2536.898622,1273.011364,604.770127
1,1,0,11.0,37.0,360.137575,2612.432523,0.666045,23.809911,2783.082086,26.221884,2610.644658,1283.705519,601.759841
2,2,0,18.0,34.0,358.571643,2519.399650,0.674544,23.735582,2786.990749,25.051226,2519.766762,1272.412866,603.899236
3,3,1,12.0,26.0,344.728633,2433.170459,0.676095,23.443632,2821.222288,24.677265,2432.567588,1261.064125,603.034283
4,4,0,20.0,40.0,357.789518,2517.216955,0.679031,23.308474,2796.995037,24.617265,2485.478112,1268.990134,605.222529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21595,21595,0,21.0,22.0,350.547735,2517.216955,0.677179,23.809911,2792.440155,24.436078,2451.605650,1267.202949,603.417754
21596,21596,0,14.0,58.0,349.244673,2398.258155,0.678886,22.531962,2791.812055,23.801528,2400.723520,1256.612046,605.503277
21597,21597,0,23.0,5.0,357.152573,2525.896278,0.676416,23.761867,2766.226004,25.088997,2517.015477,1273.398714,604.848670
21598,21598,1,0.0,53.0,359.203691,2490.426378,0.655879,24.169350,2754.626858,25.411994,2489.651716,1272.959188,605.145455
21599,21599,1,16.0,38.0,211.457059,1466.796683,0.684214,13.194879,2820.096361,13.927607,1466.172838,1103.514033,542.654466

In [ ]:
from sklearn.preprocessing import StandardScaler
col = ['C_motion', 'feed_water_motion', 'faucet_hole', 'vapour_pressure','vapour_enthalpy', 'vapour_pressure_at_division','vapour_motion', 'feed_water_enth','vapour_temperature']
scaler = StandardScaler()
test_df[col] = scaler.fit_transform(test_df[col])

In [ ]:
test_pred = rf.predict(test_df)

In [ ]:
predictions_df = pd.DataFrame({
    "UID": test_df["uid"],
    "Prediction": test_pred
})

In [ ]:
predictions_df.to_csv("predictions.csv", index=False)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import BaggingRegressor

# 1. Data Loading and Preprocessing
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

# Store uid from test_df for creating submission file
test_ids = test_df['uid']
test_df = test_df.drop('uid', axis=1)
train_df = train_df.drop('uid', axis=1)

# --- Define numerical columns manually ---
numerical_cols = [
    'hour', 'minute', 'C_motion', 'feed_water_motion', 'faucet_hole',
    'vapour_pressure', 'vapour_enthalpy', 'vapour_pressure_at_division',
    'vapour_motion', 'feed_water_enth', 'vapour_temperature', 'vapour_pressure_x_enthalpy'
]

# Handle 'day' column: Convert to numerical using a mapping
day_mapping = {'Friday': 0, 'Saturday': 1}
train_df['day'] = train_df['day'].map(day_mapping).fillna(-1)
test_df['day'] = test_df['day'].map(day_mapping).fillna(-1)

# Fill missing 'hour' and 'minute' values with the mean
train_df['hour'] = train_df['hour'].fillna(train_df['hour'].mean())
train_df['minute'] = train_df['minute'].fillna(train_df['minute'].mean())
test_df['hour'] = test_df['hour'].fillna(test_df['hour'].mean())
test_df['minute'] = test_df['minute'].fillna(test_df['minute'].mean())

# Cyclical Feature Engineering for Time
train_df['hour_sin'] = np.sin(2 * np.pi * train_df['hour'] / 24)
train_df['hour_cos'] = np.cos(2 * np.pi * train_df['hour'] / 24)
train_df['minute_sin'] = np.sin(2 * np.pi * train_df['minute'] / 60)
train_df['minute_cos'] = np.cos(2 * np.pi * train_df['minute'] / 60)

test_df['hour_sin'] = np.sin(2 * np.pi * test_df['hour'] / 24)
test_df['hour_cos'] = np.cos(2 * np.pi * test_df['hour'] / 24)
test_df['minute_sin'] = np.sin(2 * np.pi * test_df['minute'] / 60)
test_df['minute_cos'] = np.cos(2 * np.pi * test_df['minute'] / 60)

# Interaction Feature (example)
train_df['vapour_pressure_x_enthalpy'] = train_df['vapour_pressure'] * train_df['vapour_enthalpy']
test_df['vapour_pressure_x_enthalpy'] = test_df['vapour_pressure'] * test_df['vapour_enthalpy']

# Imputation (using median for numerical columns)
imputer = SimpleImputer(strategy='median')

train_df[numerical_cols] = imputer.fit_transform(train_df[numerical_cols])
test_df[numerical_cols] = imputer.transform(test_df[numerical_cols])

# Feature Scaling
scaler = StandardScaler()
train_df[numerical_cols] = scaler.fit_transform(train_df[numerical_cols])
test_df[numerical_cols] = scaler.transform(test_df[numerical_cols])

# Prepare data for model training
X = train_df.drop('output_electricity_generation', axis=1)
y = train_df['output_electricity_generation']
X_test = test_df

# 2. Model Selection and Training
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)


from sklearn.linear_model import LinearRegression
from sklearn.ensemble import StackingRegressor, RandomForestRegressor
from catboost import CatBoostRegressor

estimators = [
    ('cat', CatBoostRegressor(iterations= 733, learning_rate= 0.18468924127818032, depth= 5, l2_leaf_reg= 1.2685235690299623, border_count= 87)),
    ('bag', BaggingRegressor(n_estimators=225, max_samples= 0.84285678925653, max_features= 0.7855641367901965, max_depth= 12, min_samples_split= 14, min_samples_leaf= 6)),
    ('rf', RandomForestRegressor(n_estimators= 347, max_depth= 11, min_samples_split= 2, min_samples_leaf=2, max_features=0.6468132553959669,max_feature='sqrt'))
]

stacker = StackingRegressor(estimators=estimators, final_estimator=RandomForestRegressor())
stacker.fit(X_train, y_train)

# Make predictions on the test set

test_predictions = stacker.predict(X_test)

# Create a submission dataframe

submission = pd.DataFrame({'uid': test_ids, 'output_electricity_generation': test_predictions})

# Save the submission file

submission.to_csv('submission.csv', index=False)

print("Submission file created successfully!")


# Evaluate the model on the validation set

y_pred_val = stacker.predict(X_val)

mae = mean_absolute_error(y_val, y_pred_val)
mse = mean_squared_error(y_val, y_pred_val)
rmse = np.sqrt(mse)
r2 = r2_score(y_val, y_pred_val)

print(f"Validation MAE: {mae}")
print(f"Validation MSE: {mse}")
print(f"Validation RMSE: {rmse}")
print(f"Validation R-squared: {r2}")